<h1>Messages</h1>
<div ng-app="app">
  <div ng-controller="privateMessagesCtrl" ng-init="setup(<%= @chatroom.id %>)" id='<%= "messages-#{@chatroom.id}" %>'>
    <div class="message" ng-repeat="message in messages | orderBy:'created_at'">
      {{ message.name }}: {{ message.body }}
    </div>

    <% if current_user %>
      <div>
        <label for="body">New message: </label>
        <input type="text" id="body" name="body" ng-model="newMessageBody">
        <input type="submit" ng-click="createNewMessage(newMessageBody, <%= current_user.id %>)">
      </div>
    <% else %>
      <br />
      <div><a href="/login">Log in</a> to submit a new message!</div>
    <% end %>
  </div>
</div>
